html body {
    background-color:dimgrey;
    color: ghostwhite;
}

textarea {
    height: 800px;
    width: 600px;
    resize: none;
}

.code-area{
    background-color: #474342;
    color: #90bdf0;
    font-weight: bold;
    padding: 20px;
    margin: 20px
}

.input-code-area {
    color: #90bdf0;
}

.output-code-area {
    color: #35a63e;
}

.code-area-group{
    display: flex;
    flex-direction: row;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.convert-button{
    margin-top: 20px;
}

.convert-button:hover{
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

.text-editor{
    height: 200px;
    width: 200px;
}